# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs
dist
build
.next
.turbo
out

# Development
.env*.local
.env.development
*.local

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
.vscode
.idea

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Docs
README.md
*.md

# Logs
logs
*.log

# Database
*.db
*.db-journal
prisma/*.db
prisma/*.db-journal

# OS
Thumbs.db
